---
import MainLayout from "../layouts/MainLayout.astro";

// Server Only
const name = "Reynaldo Choque";
---

<MainLayout title="Home Page">
  <h1>{name}</h1>
  <p>Momento del build: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <script>
    const currentYear: number = new Date().getFullYear();

    const footer = document.querySelector("footer") as HTMLElement;
    footer.innerText = `Current year ${currentYear}`;

    const actual = document.querySelector("#current-time") as HTMLElement;
    actual.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
