---
// Server Only
const name = "Reynaldo Choque";
const title = "Fundamentos de Astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home Page</a>
      <a href="/about">About Page</a>
      <a href="/contact">Contact Page</a>
    </nav>
    <h1>{name}</h1>
    <p>Momento del build: {new Date().toLocaleTimeString()}</p>
    <p id="current-time">Momento actual real:</p>

    <footer>2024</footer>

    <script>
      const currentYear: number = new Date().getFullYear();

      const footer = document.querySelector("footer") as HTMLElement;
      footer.innerText = `Current year ${currentYear}`;

      const actual = document.querySelector("#current-time") as HTMLElement;
      actual.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
    </script>
  </body>
</html>
